Let's set up our environment and data first:

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/benartuso/launch-data-science/main/countdown-2/dog_tags.csv')
df.head()

   RecordID  FeeAmount  ... TagYear BlockNumber
0         1          4  ...    2016      1100.0
1         2          4  ...    2016      1000.0
2         3          4  ...    2015      1000.0
3         4         12  ...    2013     11000.0
4         5          4  ...    2015       700.0

[5 rows x 8 columns]

## Subsetting/Filtering

Remember that we can subset columns in these two ways:

In [4]:
df['StreetName']

0                 GROVE AVE
1              SHERIDAN AVE
2                 GROVE AVE
3                 DRUID AVE
4               MADISON AVE
                ...
18332        GREENBRIER TER
18333    JEFFERSON PARK AVE
18334          MONTROSE AVE
18335             BAYLOR LN
18336             BROAD AVE
Name: StreetName, Length: 18337, dtype: object

In [5]:
df.StreetName

0                 GROVE AVE
1              SHERIDAN AVE
2                 GROVE AVE
3                 DRUID AVE
4               MADISON AVE
                ...
18332        GREENBRIER TER
18333    JEFFERSON PARK AVE
18334          MONTROSE AVE
18335             BAYLOR LN
18336             BROAD AVE
Name: StreetName, Length: 18337, dtype: object

This returns a Pandas Series!

In [6]:
type(df.StreetName)

pandas.core.series.Series

We can then take that series and get a boolean series from it

In [7]:
df['TagYear']==2015

0        False
1        False
2         True
3        False
4         True
         ...
18332    False
18333    False
18334    False
18335    False
18336    False
Name: TagYear, Length: 18337, dtype: bool

and use that boolean series to filter the overall dataframe:

In [8]:
df[df['TagYear']==2015]

       RecordID  FeeAmount  ... TagYear BlockNumber
2             3          4  ...    2015      1000.0
4             5          4  ...    2015       700.0
5             6          4  ...    2015       400.0
6             7         10  ...    2015       400.0
30           31          4  ...    2015      4100.0
...         ...        ...  ...     ...         ...
17313     18314         12  ...    2015       100.0
17319     18320          4  ...    2015      2400.0
17321     18322          4  ...    2015      2200.0
17322     18323          4  ...    2015      1000.0
17336     18337         12  ...    2015       600.0

[2006 rows x 8 columns]

We can also filter by multiple columns:

In [9]:
df[(df['TagYear']==2015) & (df['FeeAmount']>4)]

       RecordID  FeeAmount  ... TagYear BlockNumber
6             7         10  ...    2015       400.0
2609       4610         12  ...    2015       700.0
2610       4611         12  ...    2015       700.0
2708       4709         12  ...    2015      1400.0
2709       4710         12  ...    2015      1400.0
...         ...        ...  ...     ...         ...
12533     12534         12  ...    2015      1600.0
12655     12656         12  ...    2015       800.0
12703     12704         12  ...    2015       200.0
17313     18314         12  ...    2015       100.0
17336     18337         12  ...    2015       600.0

[874 rows x 8 columns]

## Aggregation

Pandas allows you to do series level aggregation quickly and efficiently

In [11]:
df.FeeAmount.sum()

135334

In [12]:
df.FeeAmount.max()

150

In [14]:
df.TagYear.min()

2009

In [15]:
df['RecordID'].count()

18337

We can also aggregate the entire dataframe:

In [17]:
df.min()

RecordID                                        1
FeeAmount                                       0
RabiesExpirationDate     2009-04-25T04:00:00.000Z
TagNumber                                       0
TagType                 Dangerous Dog Regis.
TagYear                                      2009
BlockNumber                                     0
dtype: object

In [18]:
df.mean()

RecordID        9169.000000
FeeAmount          7.380378
TagNumber      36622.870194
TagYear         2014.324371
BlockNumber     1494.789393
dtype: float64

To do more complicated aggregations on multiple columns, we need to group

In [16]:
df.groupby('TagYear')

That doesn't seem like a useful object, but is one of the most powerful in Pandas

In [20]:
df.groupby('TagYear').mean()

             RecordID  FeeAmount     TagNumber  BlockNumber
TagYear
2009        41.000000   4.000000  17175.000000   500.000000
2010       847.670470   4.859060  20003.249664  1597.785235
2011      3677.292478   4.818517  24836.487112  1640.421053
2012      4420.909131   7.088641  26815.275278  1638.307350
2013      6266.004581   6.829592  31440.610169  1498.167659
2014      8972.202696   6.711768  37106.084500  1708.817427
2015     10600.149053   7.562313  40026.125623  1562.025948
2016     12412.577741   7.320240  42714.209175  1341.266376
2017     14377.489758   7.729361  45946.767846  1432.960199
2018     16491.036392  10.820148  51516.112869  1254.195251
2019     16536.668815  10.959710  51424.070105  1117.244158

We can group by multiple columns as well

In [23]:
df.groupby(['TagYear', 'TagType']).count()

                                   RecordID  FeeAmount  ...  TagNumber  BlockNumber
TagYear TagType                                         ...
2009    Unsexed - 1 Year                  2          2  ...          2            2
2010    Replacement                      14         14  ...         14           14
        Service                           1          1  ...          1            1
        Sexed - 1 Year                  221        221  ...        221          221
        Unsexed - 1 Year               1254       1254  ...       1254         1254
2011    Dangerous Dog Regis.              1          1  ...          1            1
        Replacement                      20         20  ...         20           20
        Service                           1          1  ...          1            1
        Sexed - 1 Year                  243        243  ...        243          243
        Unsexed - 1 Year               1634       1634  ...       1634         1633
        Unsexed - 3 Year                  2          2  ...          2            2
2012    Dangerous Dog Regis.              1          1  ...          1            1
        Replacement                      12         12  ...         12           12
        Service                           2          2  ...          2            2
        Sexed - 1 Year                  192        192  ...        192          192
        Sexed - 3 Year                   24         24  ...         24           24
        Unsexed - 1 Year               1382       1382  ...       1382         1382
        Unsexed - 3 Year                632        632  ...        632          632
2013    Dangerous Dog Renewal             1          1  ...          1            1
        Replacement                      12         12  ...         12           12
        Service                           1          1  ...          1            1
        Sexed - 1 Year                  151        151  ...        151          151
        Sexed - 3 Year                   23         23  ...         23           23
        Unsexed - 1 Year               1416       1416  ...       1416         1416
        Unsexed - 3 Year                579        579  ...        579          579
2014    Replacement                      13         13  ...         13           13
        Service                           2          2  ...          2            2
        Sexed - 1 Year                  148        148  ...        148          148
        Sexed - 3 Year                   15         15  ...         15           15
        Unsexed - 1 Year               1251       1251  ...       1251         1250
        Unsexed - 3 Year                500        500  ...        500          500
2015    Replacement                       6          6  ...          6            6
        Service                           1          1  ...          1            1
        Sexed - 1 Year                  128        128  ...        128          128
        Sexed - 3 Year                   24         24  ...         24           24
        Unsexed - 1 Year               1125       1125  ...       1125         1123
        Unsexed - 3 Year                722        722  ...        722          722
2016    Female                            1          1  ...          1            1
        Replacement                       4          4  ...          4            4
        Sexed - 1 Year                  120        120  ...        120          120
        Sexed - 3 Year                   22         22  ...         22           22
        Unsexed - 1 Year               1086       1086  ...       1084         1085
        Unsexed - 3 Year                600        600  ...        600          600
2017    Lifetime dog tag                  1          1  ...          1            1
        Replacement                       8          8  ...          8            8
        Sexed - 1 Year                  101        101  ...        101          100
        Sexed - 3 Year                   18         18  ...         18           18
        Unsexed - 1 Year                864        864  ...        864          863
        Unsexed - 3 Year                619        619  ...        619          618
2018    Dangerous Dog Regis.              1          1  ...          1            1
        Lifetime dog tag               1259       1259  ...       1259         1258
        Replacement                      11         11  ...         11           11
        Sexed - 3 Year                   16         16  ...         16           16
        Unsexed - 1 Year                  3          3  ...          3            3
        Unsexed - 3 Year                606        606  ...        606          606
2019    Lifetime dog tag                713        713  ...        713          713
        Replacement                       9          9  ...          9            9
        Sexed - 3 Year                   13         13  ...         13           13
        Unsexed - 3 Year                506        506  ...        506          506

[59 rows x 6 columns]

To access a specific row in the multiple-index dataframe, we can use .loc[]

In [33]:
grouped_df = df.groupby(['TagYear', 'TagType']).count()
grouped_df.loc[2018]

                           RecordID  FeeAmount  ...  TagNumber  BlockNumber
TagType                                         ...
Dangerous Dog Regis.              1          1  ...          1            1
Lifetime dog tag               1259       1259  ...       1259         1258
Replacement                      11         11  ...         11           11
Sexed - 3 Year                   16         16  ...         16           16
Unsexed - 1 Year                  3          3  ...          3            3
Unsexed - 3 Year                606        606  ...        606          606

[6 rows x 6 columns]

In [38]:
grouped_df.loc[2018, 'Lifetime dog tag']

RecordID                1259
FeeAmount               1259
RabiesExpirationDate    1259
StreetName              1259
TagNumber               1259
BlockNumber             1258
Name: (2018, Lifetime dog tag), dtype: int64

If we want to get away from the multiple index dataframe, we can reset the index:

In [25]:
df.groupby(['TagYear', 'TagType']).count().reset_index()

    TagYear                    TagType  ...  TagNumber  BlockNumber
0      2009  Unsexed - 1 Year           ...          2            2
1      2010  Replacement                ...         14           14
2      2010  Service                    ...          1            1
3      2010  Sexed - 1 Year             ...        221          221
4      2010  Unsexed - 1 Year           ...       1254         1254
5      2011  Dangerous Dog Regis.       ...          1            1
6      2011  Replacement                ...         20           20
7      2011  Service                    ...          1            1
8      2011  Sexed - 1 Year             ...        243          243
9      2011  Unsexed - 1 Year           ...       1634         1633
10     2011  Unsexed - 3 Year           ...          2            2
11     2012  Dangerous Dog Regis.       ...          1            1
12     2012  Replacement                ...         12           12
13     2012  Service                    ...          2            2
14     2012  Sexed - 1 Year             ...        192          192
15     2012  Sexed - 3 Year             ...         24           24
16     2012  Unsexed - 1 Year           ...       1382         1382
17     2012  Unsexed - 3 Year           ...        632          632
18     2013  Dangerous Dog Renewal      ...          1            1
19     2013  Replacement                ...         12           12
20     2013  Service                    ...          1            1
21     2013  Sexed - 1 Year             ...        151          151
22     2013  Sexed - 3 Year             ...         23           23
23     2013  Unsexed - 1 Year           ...       1416         1416
24     2013  Unsexed - 3 Year           ...        579          579
25     2014  Replacement                ...         13           13
26     2014  Service                    ...          2            2
27     2014  Sexed - 1 Year             ...        148          148
28     2014  Sexed - 3 Year             ...         15           15
29     2014  Unsexed - 1 Year           ...       1251         1250
30     2014  Unsexed - 3 Year           ...        500          500
31     2015  Replacement                ...          6            6
32     2015  Service                    ...          1            1
33     2015  Sexed - 1 Year             ...        128          128
34     2015  Sexed - 3 Year             ...         24           24
35     2015  Unsexed - 1 Year           ...       1125         1123
36     2015  Unsexed - 3 Year           ...        722          722
37     2016  Female                     ...          1            1
38     2016  Replacement                ...          4            4
39     2016  Sexed - 1 Year             ...        120          120
40     2016  Sexed - 3 Year             ...         22           22
41     2016  Unsexed - 1 Year           ...       1084         1085
42     2016  Unsexed - 3 Year           ...        600          600
43     2017           Lifetime dog tag  ...          1            1
44     2017  Replacement                ...          8            8
45     2017  Sexed - 1 Year             ...        101          100
46     2017  Sexed - 3 Year             ...         18           18
47     2017  Unsexed - 1 Year           ...        864          863
48     2017  Unsexed - 3 Year           ...        619          618
49     2018  Dangerous Dog Regis.       ...          1            1
50     2018           Lifetime dog tag  ...       1259         1258
51     2018  Replacement                ...         11           11
52     2018  Sexed - 3 Year             ...         16           16
53     2018  Unsexed - 1 Year           ...          3            3
54     2018  Unsexed - 3 Year           ...        606          606
55     2019           Lifetime dog tag  ...        713          713
56     2019  Replacement                ...          9            9
57     2019  Sexed - 3 Year             ...         13           13
58     2019  Unsexed - 3 Year           ...        506          506

[59 rows x 8 columns]

We can perform multiple aggregations on a single groupby object as well using .agg()

In [24]:
df.groupby(['TagYear']).agg(['min', 'mean', 'max'])

        RecordID                       ... BlockNumber
             min          mean    max  ...         min         mean      max
TagYear                                ...
2009          40     41.000000     42  ...       200.0   500.000000    800.0
2010          25    847.670470   6275  ...         0.0  1597.785235  30500.0
2011          17   3677.292478  18325  ...         0.0  1640.421053  75500.0
2012          19   4420.909131  18324  ...         0.0  1638.307350  27000.0
2013           4   6266.004581  18335  ...         0.0  1498.167659  27000.0
2014          21   8972.202696  18336  ...         0.0  1708.817427  81600.0
2015           3  10600.149053  18337  ...         0.0  1562.025948  82600.0
2016           1  12412.577741  18334  ...         0.0  1341.266376  81600.0
2017          12  14377.489758  18328  ...         0.0  1432.960199  81600.0
2018          22  16491.036392  18329  ...         0.0  1254.195251  30500.0
2019          16  16536.668815  18311  ...         0.0  1117.244158  25100.0

[11 rows x 12 columns]

In [26]:
df.groupby(['TagYear']).agg(['min', 'mean', 'max'])

   TagYear RecordID                ... BlockNumber
                min          mean  ...         min         mean      max
0     2009       40     41.000000  ...       200.0   500.000000    800.0
1     2010       25    847.670470  ...         0.0  1597.785235  30500.0
2     2011       17   3677.292478  ...         0.0  1640.421053  75500.0
3     2012       19   4420.909131  ...         0.0  1638.307350  27000.0
4     2013        4   6266.004581  ...         0.0  1498.167659  27000.0
5     2014       21   8972.202696  ...         0.0  1708.817427  81600.0
6     2015        3  10600.149053  ...         0.0  1562.025948  82600.0
7     2016        1  12412.577741  ...         0.0  1341.266376  81600.0
8     2017       12  14377.489758  ...         0.0  1432.960199  81600.0
9     2018       22  16491.036392  ...         0.0  1254.195251  30500.0
10    2019       16  16536.668815  ...         0.0  1117.244158  25100.0

[11 rows x 13 columns]